body {
  background-color: black;
}

.ClcLayout {
  background-color: grey;
  width: 600px;
  height: 700px;
  margin: auto;
  padding: 10px;
}

.buttons {
  background-color: darkgrey;
  width: 100px;
  height: 50px;
  margin: 30px;
  padding: auto;
  display: flexbox;
  font-size: xx-large;
}

.searchBar {
  width: 590px;
  height: 50px;
  margin: auto;
}
